@import 'reset';
@import 'normalize';
@import 'colors';
@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,300,700');

body {
  color: $gray-dark;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h2,
h3 {
  @include respond-to(from-to, $i6w, $i6pw, width) { font-size: 1.1rem; }
  @include respond-to(from, $i6pw, "", width) { font-size: 1.25rem; }
}

p {
  font-size: .75rem;
  font-weight: 300;
  line-height: 1.2em;

  @include respond-to(from-to, $i6w, $i6pw, width) { font-size: .9rem; }
  @include respond-to(from, $i6pw, "", width) { font-size: 1rem; }
}

section {
  box-sizing: border-box;
  padding: 2rem 1rem;
  position: relative;

  @include respond-to(from, $i6ph, "", height) { padding: 4rem 1rem; }
  @include respond-to(from-w-and-h, $desktop-w, $i6ph, height) { padding: 6rem 1rem; }

  &:not(.col-2) > div + div {
    margin-top: 2rem;

    @include respond-to(from, $i6ph, "", height) { margin-top: 4rem; }
    @include respond-to(from-w-and-h, $desktop-w, $i6ph, height) { margin-top: 6rem; }
  }
}

.logo {
  width: 96px;
}

.stars {
  opacity: 1;

  &[stars="4.5"] {
    img:nth-child(5) {
      display: none;
    }
  }

  &[stars="5"] {
    img.half {
      display: none;
    }
  }

  img {
    padding: 0 .2em;
    width: 1em;

    @include respond-to(from-to, $i6w, $tablet-small-w, width) { width: 1.25em; }
    @include respond-to(from, $tablet-small-w, "", width) { width: 2em; }
  }
}


//*********************
//    HERO SECTION
//*********************

.section-hero {
  padding-top: 2rem;
  position: relative;
  min-height: 455px;
  text-align: center;

  .intro {

    p {
      color: $black;
      position: relative;
      text-transform: uppercase;

      + p {
        margin-top: .25em;
      }
    }
  }

  h1 {
    margin: .5em auto;
  }

  h2 {
    font-size: .75rem;
    font-weight: 300;
    margin-top: .5em;

    @include respond-to(from, $i6w, "", width) { font-size: .9rem; }
  }

  .buttons {
    margin: 2rem auto 0;
    max-width: 420px;

    a {
      border-radius: 3px;
      display: block;
      padding-top: 1em;
      padding-bottom: 1em;

      + a {
        margin-top: .5em;
      }
    }
  }

  @include respond-to(up-to-and, $i6ph, "", height) {
    height: 100vh;

    .center {
      margin-top: 0;
      padding: 0 1rem;
      position: absolute;
      top: 43%;
      left: 50%;
      right: -50%;
      transform: translate(-50%, -50%);
    }

    .buttons {
      position: absolute;
      right: 1rem;
      bottom: 2rem;
      left: 1rem;
    }

  }

}

.udemy-button {
  background-color: $blue;
  color: $white;
  font-weight: 700;
  padding-left: 3em;

  &:hover,
  &:active,
  &:focus {
    background-color: $blue-hover;
  }

  &::before {
    background-image: url('./images/udemy.svg');
    background-size: cover;
    content: '';
    display: inline-block;
    margin: -.5em 0 0 -3em;
    overflow: hidden;
    position: absolute;
    width: 2em;
    height: 2em;
  }
}

.github-button {
  border: 1px solid $gray-light;
  color: $black;
  padding-left: 3em;

  &:hover,
  &:active,
  &:focus {
    background-color: $gray-medium;
    color: $white;

    &::before {
      background-image: url('./images/github-white.svg');
    }
  }

  &::before {
    background-image: url('./images/github.svg');
    background-size: cover;
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    margin: -.5em 0 0 -3em;
  }
}


//****************************
//    TECH STACK SECTION
//****************************

.section-tech {
  background: #31353d;
  background-image: linear-gradient(to right, #31353d 0%, #404753 100%);
  color: $white;
  text-align: center;

  .intro {
    margin: auto;
    max-width: 800px;

    p {
      margin-top: 1em;
    }
  }
}

.tech-list {
  display: inline-block;
  text-align: center;
  overflow: auto;

  .item {
    box-sizing: border-box;
    display: block;
    padding: 1rem 0;

    @include respond-to(from, $tablet-small-w, "", width) {
      display: inline-block;
      margin-right: 2%;
      margin-left: 2%;
      max-width: 275px;
    }

    + .item {
      @include respond-to(up-to, $tablet-small-w, "", width) {
        margin-top: 1em;
      }
    }

    img {
      max-width: 50px;

      @include respond-to(from, $i6h, "", height) {
        max-width: 75px;
        max-height: 75px;
      }
    }

    h3 {
      margin-top: 1em;
    }

    p {
      margin-top: .5em;
    }
  }

  @include respond-to(from-to, $tablet-small-w, $desktop-w, width) {
    max-width: 800px;

    .item {
      width: 45%;
    }
  }

  @include respond-to(from, $desktop-w, "", width) {

    .item {
      float: left;
      padding-bottom: 0;
      width: 20%;
    }
  }
}


//***************************
//    FEATURES SECTION
//***************************

.section-features {
  background: $blue;
  background-image: linear-gradient(to bottom right, $blue 10%, $blue-light 100%);
  color: $white;
}

.feature {
  margin: auto;
  overflow: auto;
  position: relative;
  text-align: center;

  &:first-child .screenshots {
    margin-top: 0;
  }

  &.text-right {
    .screenshots {
      img {
        &:first-of-type {
          transform: translateX(-65%) scale(.9);
        }
        &:last-of-type {
          transform: translateX(-40%);
        }
      }
    }
  }

  &.text-left {
    .screenshots {
      img {
        &:first-of-type {
          transform: translateX(-34%) scale(.9);
        }
        &:last-of-type {
          transform: translateX(-57%);
        }
      }
    }
  }

  @include respond-to(from, $desktop-w, "", width) {
    width: 800px;

    &.text-right,
    &.text-left {

      .screenshots,
      .description {
        display: inline-block;
        margin: auto;
        width: 400px;
      }

      .description {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.text-right {

      .screenshots {
        float: left;
      }

      .description {
        right: 0;
      }
    }

    &.text-left {

      .screenshots {
        float: right;
      }

      .description {
        left: 0;
      }
    }
  }

  .screenshots {
    margin: 2rem auto;
    position: relative;
    height: calc(100vw - 2rem);
    max-height: 400px;

    img {
      box-shadow: 0 0 30px 2px transparentize($black, .9);
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
    }
  }

  .description {
    text-align: center;

    p {
      padding-top: 1em;
    }
  }
}


//****************************
//    STAT/MOCKUP SECTION
//****************************

.section-stats {
  overflow: auto;
  position: relative;

  .stats-list {
    position: absolute;
    top: 50%;
    right: 59%;
    text-align: center;
    transform: translateY(-50%);

    p {
      font-weight: 700;

      &:not(:last-child) {
        margin-bottom: 2em;
      }

      @include respond-to(from, $tablet-small-w, "", width) { font-size: 1.25em; }
    }

    img {
      width: 1em;

      @include respond-to(from-to, $i6w, $tablet-small-w, width) { width: 1.25em; }
      @include respond-to(from, $tablet-small-w, "", width) { width: 2em; }
    }
  }
}

.mockup-wrapper {
  margin: auto;
  position: relative;
  height: calc(100vw - 2rem);
  max-width: 768px;
  max-height: 600px;

  img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 71%;
    transform: translateX(-50%);
  }
}

.section-cta {
  background-color: $blue;
  font-size: .75rem;
  padding: 2rem 1rem;

  &::after {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 2%, rgba(255,255,255,0.75) 10%, rgba(255,255,255,0.75) 90%, rgba(255,255,255,0) 98%);
    border: 0;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }

  @include respond-to(from-to, $i6w, $i6pw, width) { font-size: .9rem; }
  @include respond-to(from, $i6pw, "", width) { font-size: 1rem; }

  .container {
    height: 1rem;
    text-align: center;
  }

  h2 {
    color: $white;
    display: inline-block;
    font-size: inherit;
    padding-right: 1em;
  }

  a {
    background-color: $white;
    border-radius: 3px;
    color: $blue;
    display: inline-block;
    font-weight: 700;
    line-height: 0;
    margin-top: -.5rem;
    padding: 1rem 1.25rem;
    box-shadow: 0 3px 0 -1px #2155a9;

    &:hover,
    &:active,
    &:focus {
      background-color: $gray-light;
    }
  }
}


//**************************
//    REVIEWS SECTION
//**************************

.section-reviews {
  background-color: $blue;
  text-align: center;
}

.review {
  background-color: $white;
  border-radius: 3px;
  margin: auto;
  padding: 2em;
  max-width: 420px;
  box-shadow: 0 4px 0 -1px $blue-hover;

  &.transition {
    &::after,
    .stars,
    .explanation {
      opacity: 0;
    }
  }

  &::after,
  .stars,
  .explanation {
    transition: opacity .5s;
  }

  &::after {
    content: '—' attr(name);
    font-size: .75rem;
    font-weight: 300;
    opacity: 1;

    @include respond-to(from-to, $i6w, $i6pw, width) { font-size: .9rem; }
    @include respond-to(from, $i6pw, "", width) { font-size: 1rem; }
  }

  p {
    margin: 1.5em auto .5em;
    opacity: 1;
  }

  .explanation {
    font-weight: 700;
    line-height: 1.5em;

    &::before,
    &::after {
      color: $blue;
      font-size: 2em;
      line-height: 0;
      vertical-align: middle;
    }

    &::before {
      content: open-quote;
      padding-right: .15em;
    }

    &::after {
      content: close-quote;
      padding-left: .15em;
    }
  }

}
